<nav>
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    🏪 Do'kon
  </a>

  <a routerLink="/savat" routerLinkActive="active">
    🛒 Savat
    @if (savatService.savatdagiMiqdor() > 0) {
      <span>({{ savatService.savatdagiMiqdor() }})</span>
    }
  </a>

  @if (authService.kirganmi()) {
    <span>{{ authService.kirganFoydalanuvchi()?.ism }}</span>
    <button (click)="authService.chiqish()">Chiqish</button>
  } @else {
    <a routerLink="/login" routerLinkActive="active">Kirish</a>
    <a routerLink="/register" routerLinkActive="active">Ro'yxatdan o'tish</a>
  }
</nav>

<router-outlet></router-outlet>
